body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100px;
    height: auto;
    border: #3882F6 solid;
    border-radius: 8px;
    border-width: 2px;
}
.navBar{
    background-color: #2a3f5c;
    color: white;
    display:flex;
}

.titleSec{
    background-color: #2a3f5c;
    color:white;
    display: flex;
    padding: 60px;
}

button,titleSec{
    background-color: #3882F6;
    color:white;
}


.quoteSec{
    font-size: 28px;
    font-weight: lighter;
    color: 1F2937;
    background-color: #E5E7EB;
}

.signUp{
    background-color: #3882F6;
    color: white;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
ul{
    list-style-type: none;


    
}

.imageContainer{
    display: flex;
    padding-left:  20%;
    padding-right: 20%;
}

.imageTitle{
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: lighter;
    font-style: italic;
    max-width:min-content;
    margin: 15px;
    margin-bottom: 25px;
}

.quotes{
    padding: 50px;
}

b{
    font-weight:bolder;
}

#bigImage{
    width: 37%;
    height: auto;
}

.navRight{
    display: flex;
}